.fondo {
    position: relative;
    background: #ffffff;
    padding: 20px;
  }
  
  .banda-parallax {
    position: absolute;
    top: -50px;
    left: -150px;
    width: 200%;
    height: 200px;
    background: #d40000;
    transform: rotate(-20deg);
    z-index: -1;
  }
  
  
  ul {
    margin-left: 20px;
  }
  
  a {
    color: #d40000;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  hr {
    border: none;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
  }
  
  html {
    scroll-behavior: smooth;
  }

  nav.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
  }
  
  .nav-container {
    display: flex;
    padding: 10px 30px;
    max-width: 1200px;
    margin: auto;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    gap: 30px;
  }
  
  .logo img {
    width: 40px;
    height: auto;
  }
  
  .nav-links a {
    margin-left: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #d40000;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: black;
  }

  .banner-textual {
    /*background-image: url('../img/banner1.jpg');*/
    padding: 40px 20px;
    background-size: 1800px;
    background-position: top;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
    text-shadow: 1px 1px 4px black;
    margin-bottom: 20px;
  }
  
  #RadioEnVivo {
    background: #fafafa;
    padding: 5px;
    border-radius: 12px;
    margin: 40px left;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
  }
  
  #RadioEnVivo h3 {
    color: #d40000; /* Rojo River */
    margin-bottom: 15px;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    color: #222;
    background: #fff;
    line-height: 1.6;
    font-size: 1rem;
    overflow-x: hidden;
  }
  
  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 1.5rem;
    border-left: 5px solid #d40000;
    padding-left: 10px;
    margin-top: 40px;
  }
  
  p, li {
    font-size: 1rem;
    color: #333;
  }
  
  section {
    background: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .container {
    width: 100%;
    padding: 2rem;
  }

  @media (max-width: 768px) {
    .nav-menu {
      display: none;
    }
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  .flex-item {
    flex: 1 1 100%; /* Ocupa todo el ancho en pantallas pequeñas */
  }
  @media (min-width: 768px) {
    .flex-item {
      flex: 1 1 50%; /* Ocupa la mitad del ancho en pantallas medianas o grandes */
    }
  }
    