.fondo {
    position: relative;
    background: #ffffff;
    overflow: hidden;
    padding: 20px;
  }
  
  .fondo::before {
    content: "";
    position: absolute;
    top: -50px;
    left: -150px;
    width: 200%;
    height: 200px;
    background: #d40000;
    transform: rotate(-20deg);
    z-index: -1;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 20px;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #d40000;
  }
  
  h3, h4 {
    color: #111;
    margin-top: 20px;
  }
  
  ul {
    margin-left: 20px;
  }
  
  a {
    color: #d40000;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  hr {
    border: none;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
  }
  
  html {
    scroll-behavior: smooth;
  }

  nav.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
  }
  
  .nav-container {
    display: flex;
    padding: 10px 30px;
    max-width: 1200px;
    margin: auto;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    gap: 30px;
  }
  
  .logo img {
    width: 40px;
    height: auto;
  }
  
  .nav-links a {
    margin-left: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #d40000;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: black;
  }

  .title {
    padding: 20px;
  }

  .banner-textual {
    /*background-image: url('../img/banner1.jpg');*/
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 4px black;
  }
  