.fondo {
    position: relative;
    background: #ffffff;
    overflow: hidden;
    padding: 20px;
  }
  
  .fondo::before {
    content: "";
    position: absolute;
    top: -50px;
    left: -150px;
    width: 200%;
    height: 200px;
    background: #d40000;
    transform: rotate(-20deg);
    z-index: -1;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 20px;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #d40000;
  }
  
  h3, h4 {
    color: #111;
    margin-top: 20px;
  }
  
  ul {
    margin-left: 20px;
  }
  
  a {
    color: #d40000;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  hr {
    border: none;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
  }
  
  html {
    scroll-behavior: smooth;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: white; /* o #fff */
    z-index: 1000;
    padding: 10px;
  }
  
  body {
    padding-top: 60px; /* deja espacio para el nav fijo */
  }

  nav a {
    margin-right: 20px;
    font-weight: bold;
  }
  